.dollar {
  &__sign {
    padding: 1px;
  }
}

.input {
  position: relative;
  &_withText {
    & input {
      padding-left: 25px !important;
    }
  }
  &__mi {
    color: #0077b6;
    position: absolute;
    left: 32px;
    top: 7px;
    z-index: 100;
  }
  &__line {
    color: gray;
    position: absolute;
    top: 8px;
    left: 32px;
    z-index: 100;
    &_withText {
      left: 60px;
    }
  }
}
