.newPassword {
  background: url(../../Assets/background.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    width: 40%;
    height: 70%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 4% 6%;
    display: flex;
    flex-direction: column;

    &__link {
      text-decoration: none;
      color: #005dac;
      font-weight: 500;
    }

    h2 {
      text-align: center;
      margin-bottom: 40px;
    }

    &__text {
      text-align: center;
    }
  }
}
