.newPassword {
  background: url(../../Assets/background.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    width: 45%;
    height: 75%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem 9%;
    display: flex;
    flex-direction: column;

    &__link {
      text-decoration: none;
      color: #005dac;
      font-weight: 500;
    }

    h2 {
      text-align: center;
      margin-bottom: 60px;
    }

    &__text {
      text-align: center;
    }
  }
}
