.passwordInput {
  //   &__label {
  //     margin-bottom: 10px;
  //   } why this one didnt work
        &__label {
            margin-left: 10px;
        }

  &__input {
    margin-top: 6px;
    margin-bottom: 26px;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
  }
}
