.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  li {
    background: transparent !important;
    border: none !important;
    span.active {
      a {
        text-decoration: underline;
        color: #0586ff;
      }
    }
  }
}
