.passwordInput {
  &__label {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  &__input {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 30px;
  }
  &_errorText {
    color: red;
    margin-top: 10px;
  }
}
