@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Manrope:wght@500&display=swap");
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Inter", sans-serif;
//   font-style: normal;
//   line-height: normal;
//   margin-left: 4px;
// }

h2 {
  font-size: 26px;
  font-weight: 500;
}

.loadpage {
}

.loadboard {
  display: flex;

  &__button {
    background: rgb(0 0 0 / 0%);
    border: none;
  }

  h3 {
    display: inline-flex;
    border-radius: 10px;
    font-size: 10px;
    background: #e5edf4;
    padding: 4px 8px;
    width: 76px;
  }

  h4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 10px;
    background: #e5edf4;
    padding: 4px 8px;
  }

  &__arrow {
    padding: 10px;

    img {
      margin-right: 10px;
    }

    h1 {
      display: inline;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &__form {
    border-radius: 10px;
    background: #ffff;
    width: 282px;
    margin: 0 20px;
    padding: 10px;
    height: 778px;
  }
  &__h {
    display: inline-flex;
    flex-direction: column;
    font-size: 10px;
    color: #0077b6;
    gap: 10px;
    margin-top: 10px;
  }
}

.place {
  &__list {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    padding: 71px;
    top: -7px;
    align-items: flex-start;
    margin-right: 73px;
    margin-top: -54px;
    list-style-type: none;
    white-space: nowrap;
  }

  &__li {
    color: #005dac;
    margin-top: 10px;
  }
  &__delivery {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__frame {
      margin-top: -6px;
    }
  }

  &__image {
    width: 20px;
    height: 158px;
    flex-direction: column;
    gap: 20px;

    align-items: flex-start;
    margin-top: -283px;
    display: flex;
    margin-left: 33px;
  }
}

.info {
  &__delivery {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &__copyIcon {
      margin-top: 78px;
    }
  }

  h5 {
    font-size: 20px;
    margin-top: 75px;
    padding: 10px;
  }
}

.data {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #005dac;
  display: flex;
  flex-direction: column;
  gap: 82px;
  padding: 18px;
  width: 282px;
  height: 253px;
  margin: 20px;
  margin-top: -124px;
  margin-left: 29px;

  &__broker {
    color: #0077b6;
  }

  &__company {
    color: #0077b6;
  }

  &__one {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__two {
    margin-top: 5px;
  }

  &__icons {
    margin-top: 5px;
  }
}
