.loads {
  position: relative;

  &__block {
    padding: 31px 20px;

    &__header {
      display: flex;
      justify-content: space-between;

      & h1 {
        font-size: 30px;
        font-weight: 500;
      }

      &__btn {
        border-radius: 10px;
        background: #005dac;
        width: 143px;
        height: 40px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &__navPage {
      position: absolute;
      top: 30rem;
      left: 25rem;
    }

    &__tabs {
      &__tab {
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid #d9d9d9;
        background-color: #f5f5f5;
        border-radius: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        transition: background-color 0.3s;
        background: white;
        color: #005dac;

        &_active {
          background: #005dac;
          color: #fff;
        }
      }

      &__status {
        border-radius: 10px;
        background: #fee0e0;
        padding: 4px 8px;
        color: #ed4545;
      }
    }
  }

  & table {
    border-spacing: 0 3px;
    width: 95%;

    & thead {
      & tr {
        background-color: #005dac;

        &:first-child {
          height: 43px;
          min-width: 100%;
        }
        color: #fff;
        & th {
          position: relative;
          text-align: center;
          font-size: 16px;

          font-weight: 400;
          padding: 0;
          padding: 15px 24px;
          margin: 0;
          border-spacing: 0;
          width: auto;

          &:first-child {
            border-top-left-radius: 20px;
          }
          &:last-child {
            border-top-right-radius: 20px;
          }
        }
      }
    }

    & tbody {
      background: none;

      & tr {
        background-color: white;
        height: 52px;
        border-radius: 10px 10px 10px 10px;
        padding-right: 10px;

        & td {
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          padding-right: 10px;

          &:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}
