.forgotPass {
  background: url(../../Assets/background.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__backBtn {
    position: absolute;
    left: 50px;
    top: 2rem;
  }

  &__block {
    width: 45%;
    height: 75%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 3em 9%;
    display: flex;
    flex-direction: column;

    &__link {
      color: #005dac;
      font-weight: 500;
    }

    h2 {
      text-align: center;
      margin-top: 30px;
    }

    &__text {
      margin-bottom: 16px;
      margin-top: 50px;
      color: #959595;
      text-align: center;
    }

    &__request {
      margin-top: 30px;
      margin-bottom: 40px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
    }
  }
}
